ion-grid{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;  
}

.grid1 {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;  
}

.contaier-login {
  width: 80%;
  padding: 5px;
  height: 65%;
  background: #FFFFFF;
  border-radius: 18px;
  /* border: 1px solid #c5cad4; */
  -webkit-box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 37%);
  -moz-box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 37%);
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 37%);
}


.row1 {
  height: 50vh;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #f5f5f5, #0f394c);
  background: -o-linear-gradient(-135deg, #f5f5f5, #0f394c);
  background: -moz-linear-gradient(-135deg, #f5f5f5, #0f394c);
  background: linear-gradient(-135deg, #f5f5f5, #0f394c);
}

.row2 {
  height: 50%;
}

ion-icon {
  margin-right: 15px;
}

ion-button {
  margin-top: 5px;
  margin-bottom: 15px;
}

ion-slide {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0px !important;
}

.img-container {
  display: flex;
  justify-content: center;
  // align-items: center; this only if you want to vertical align it to the center too
}

.iconLoc{
  font-size: 116px;
  color: #728b96;  
}

.loginBrand{
  color: #61656d;
}

.btnSubmit{
  font-size: 18px;
  border-radius: 14px;
  width: auto;
  margin: auto;
  margin-top: 14px;  
}

.bg{
  background-image: url(/assets/img/bg5.jpg);
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
}

:host(.button-full:not(.button-round)) .button-native {
  border-radius: 10px !important;
  border-right-width: 0px;
  border-left-width: 0px;
}

.msg{
  font-size: 14px;
  color: #2f404a;
}

.iconColor{
  color: #3d667b;
}