<!--<ion-header>

  <ion-navbar>
    <ion-title>Temo Chat Theme fo Ionic</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content>

  <ion-grid class="grd bg">

    <ion-slide>
      <div class="contaier-login">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1 class="loginBrand">SIS</h1>
              <h6 class="loginBrand">School Information System</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>

                <ion-item>
                  <ion-icon name="person-outline" class="iconColor"></ion-icon>
                  <ion-input name="user" type="text" required placeholder="TC No"></ion-input>
                </ion-item>
                <br />
                <ion-item>
                  <ion-icon name="lock-closed-outline" class="iconColor"></ion-icon>
                  <ion-input name="password" type="password" required placeholder="Şifre"></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="btnSubmit" type="submit" (click)="checkUser()"  >
                Giriş
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="msg">
              {{loginResult}}
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </ion-slide>

  </ion-grid>


</ion-content>