.annoDate{
    font-size: 10px;
    text-align: right;
}

.dd{
    border-bottom: 1px solid #a3a6b3;
    /* background-color: #ffca22; */
    background-image: url(/assets/img/bg5.jpg);
    background-size: cover;
    text-align: right;
}