<ion-header [translucent]="true">
  <ion-toolbar class="dd">
    <ion-title size="medium">
      Duyurular
    </ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-text color="primary">
      SIS (School Information System)
    </ion-text>

  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium" color="primary">Duyurular</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-list>

      <ion-item-sliding>
        <ion-item class="globalfs pd0">
            <ion-icon name="ellipse-outline" class="globalfs pdl5"></ion-icon>
            <ion-label class="pdl5"> Duyuru Başlık 1 qweqw ewqwqe qwe wq wq ew wqe qwe qw ewqe qwewqeqwewqewqe qwe</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)" color="danger" class="globalfs">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
      <ion-item-sliding>
        <ion-item class="globalfs pd0">
          <ion-icon color="success" name="radio-button-on-outline" class="globalfs pdl5"></ion-icon>
          <ion-label class="pdl5"> Duyuru Başlık 2</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)" color="danger" class="globalfs">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item class="globalfs pd0">

          <ion-icon color="success" name="radio-button-on-outline" class="globalfs pdl5 mt-13"></ion-icon>
          <ion-label class="pdl5">
            Duyuru Başlık 2 
            <ion-label class="pdl5 annoDate">12.09.2020 14:59</ion-label>
          </ion-label>
          

        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)" color="danger" class="globalfs">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


    </ion-list>





  </div>
</ion-content>